<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HeadFirst</display-name>
  <servlet>
    <servlet-name>C3 Beer</servlet-name>
    <servlet-class>com.example.web.BeerSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C3 Beer</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListenerTester</servlet-name>
    <servlet-class>com.example.listener.ListenerTester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerTester</servlet-name>
    <url-pattern>/ListenerTest.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>breed</param-name>
    <param-value>This is new dog</param-value>
  </context-param>
  <listener>
    <listener-class>com.example.listener.MyServletContextListener</listener-class>
  </listener>
   <servlet>
    <servlet-name>el</servlet-name>
    <servlet-class>com.example.el.ELServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>el</servlet-name>
    <url-pattern>/el.do</url-pattern>
  </servlet-mapping>
</web-app>